<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link rel = "stylesheet" href = "~/lib/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet"> 
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>
    @*navbar*@
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"> <img class="img-logo" alt="Bethany's Pie Shop'" src="~/img/bethanylogo.png" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                    </li>
                    @await Component.InvokeAsync("CategoryMenu")
                    @await Component.InvokeAsync("ShoppingCartSummary")
                    <li class="nav-item">
                        <a asp-controller="Contact" asp-action="Index" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

   
     <div class="container">
          @RenderBody()
    </div>
</body>
</html>
