/*GENERAL*/
body {
    padding-top: 70px;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    font-family: 'Playfair Display', serif;
}
h1 {
    margin: 20px 0;
}


/*LOGO*/
.img-logo {
    width: 50px;
}


/*CARD PIE*/
.name-pie {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2e023d;
}
.box-details {
    position: relative;
    padding: 15px 0 0 10px;
}
.box-details span {
    position: absolute;
    right: 10px;
    top: 5px;
}


/*LIST PIES*/
.grid-pie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 30px;
}


/*NAVBAR*/
.navbar {
    background-image: none;
}
.navbar-custom {
    height: 70px;
    background-color: #a593c2;
    border-color: #a593c2;
}
.link-list li a {
    color: white;
    font-size: 1.2em;
    font-size: 1.2em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


/*CAROUSEL*/
.carousel {
    width: 100%;
    margin: auto;
}
.carousel-item {
    height: 400px;
}





/*.addToCart {
    padding-right: 10px;
    padding-left: 10px;
}



footer {
    margin: 50px 0;
}*/





/*.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #fcaeae !important;
    border-color: #fba1a1 !important;
}

.btn {
    background-color: #fcaeae !important;
    border-color: #fba1a1 !important;
}*/*/
